/* Global CSS Start */
  body {
    margin: 0;
    padding: 0;
    display: flex;
  }

/* Global CSS End */

/* Header CSS Start */
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: rgb(198, 198, 198);
  width: 20vw;
  height: 100vh;
  padding: 0px 10px;
  flex-wrap: wrap;
  overflow: auto;
  flex-shrink: 1;
  min-width: fit-content;
}
.header--title--container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header--title--icon{
  width: 100px;
}

.header--title {

}

.header--option {

}

/* Header CSS End */
