/* Global CSS Start */
  :root {
    --primary: #FFC107;
    --secondary: #191c21;
    --accent: #e9e7d8;
    --text:#906d56;
    --highlight: #ff7f01;
    font-family: 'Roboto';
    overflow: auto;
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
    color: var(--text);
  }

  .whole--page {
    display: flex;
    flex-direction: row;
    background-color: var(--accent);
    background-image: url("pub_image.jpg");
    background-attachment: fixed;
    background-position: 0% 30%;
    background-size: 2100px;
  }

  #search--bar {
    height: 20px;
  }

  hr {
    margin-right: 80px;
  }

  a {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  label:before {
    background-color: var(--secondary);
  }

  input[type=text] { 
    color: black;
    border: none;
    border-radius: 5px;
  }

/* Global CSS End */

/* Header CSS Start */
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: var(--secondary);
  opacity: 0.9;
  color: var(--accent);
  width: 20vw;
  height: 100vh;
  padding: 0px 10px;
  flex-wrap: wrap;
  overflow: auto;
  flex-shrink: 1;
  min-width: fit-content;
  position: sticky;
  top: 0px;
}

.header--title--container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px black;
}

.header--title--icon{
  width: 100px;
}

.header--link {
  color: var(--accent);
  margin-left: 20px;
  text-shadow: 1px 1px 2px black;
}
/* Header CSS End */

/* Brewery Data Section Styling */

.content--section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 20px 0px 20px 100px;
}

.card--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  min-width: 300px;
}

.content--head {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  width: auto;
  padding-top: 60px;
  margin-bottom: 10vh;
}

.content--head--title {
  margin-top: 40vh;
  color: var(--accent);
  text-shadow: 1px 1px 2px black;
  font-size: 150px;
  line-height: 0px;
}

.content--head--subtitle {
  color: var(--accent);
  text-shadow: 1px 1px 2px black;
  font-size: 80px;
  line-height: 0px;
}

.brewery--container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.brewery--data {
  min-height: 50vh;
}

/* Brewery Data CSS Ends */

/* Card CSS Starts */
.card {
  display: flex;
  border: 1px solid black;
  justify-content: flex-start;
  background-color: var(--secondary);
  opacity: 0.8;
  color: var(--primary);
  text-shadow: 1px 1px 2px black;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  text-align: left;
  padding: 0px 5px;
  min-width: 200px;
  width: 800px;
  line-height: 7px;
}

.card--title {
  color: white;
}

.card--address {
  color: var(--text)
}

/* Card CSS Ends */

/* Map CSS Start */
.map {
  border: 1px solid var(--primary);
  border-radius: 10px;
}

/* Map CSS Ends */

.summary--card {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: var(--accent);
  font-size: 20px;
}

.summary--label {
  text-shadow: 1px 1px 2px black;
}

.pin-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: red;
  position: fixed;
}

li {
  list-style: none;
}

ul {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.radio--filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-shadow: 1px 1px 2px black;
  gap: 20px;
  color: var(--accent);
}

.search--features {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}

.summery--label {
  line-height: 0px;
}

.checkbox {
  background-color: var(--secondary);
}

input[type=checkbox]{
  accent-color:  #C70039;  
}

/* About CSS Starts */
.about--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40vh;
  margin-bottom: 20vh;
  padding-top: 25vh;
  padding-right: 100px;
}

.about--section--title {
  color: var(--accent);
  text-shadow: 1px 1px 2px black;
  font-size: 50px;
  line-height: 0px;
} 

.about--section--content {
  color: var(--accent);
  text-shadow: 1px 1px 2px black;
  font-size: 25px;
}

/* About CSS Ends */